html {
    font-family: "Proxima Nova Soft", "Helvetica Neue", sans-serif;
    background-color: #bce2e8;
}

body {
    margin: 0;
}

button {
    user-select: none;
    min-height: 2em;
    flex: 1;
    font-size: inherit;
    border-color: cadetblue;
    background-color: cadetblue;
}

.container {
    font-size: calc(45vh / 8);
    position: relative;
    background-color: antiquewhite;
    width: calc(900vh / 16);
    display: flex;
    flex-flow: column nowrap;
    margin: 8px auto 0 auto;
    box-sizing: border-box;
    padding: 10px;
}

.element {
    display: flex;
    flex-flow: row wrap;
}

.flx-large {
    flex: 1 100%;
}

#loading {
    height: calc(100vh - 16px);
    background-size: 100% 100%;
    background-image: url("../assets/loading.png");
}

@media (max-aspect-ratio: 10/16) {
    .container {
        font-size: 10vw;
        width: 100vw;
        margin-top: 0;
    }
    #loading {
        height: 100vh;
    }
}

@media (min-aspect-ratio: 9/8) {
    .container {
        font-size: 5vw;
        width: 50%;
    }
}

button:focus {
    outline: 0;
}

.dsp-flx {
    display: flex;
}

.dsp-hdn {
    display: none;
}

.game-content {
    white-space: pre-line;
}

.game-answer {
    white-space: pre-line;
    margin: 2vmin 0;
}

.game-draw {
    padding: 0.2em 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.game-draw-dl {
    font-size: 1.3em;
    justify-content: center;
    padding-left: 0.1em;
}

.game-draw > span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 1em;
    cursor: pointer;
    /*height: 1.2em;*/
    padding: 0.25em 0.15em;
    background: #333;
    border-radius: 5px;
    margin-bottom: 0.15em;
    color: white;
    user-select: none;
}

.game-draw-dl > span {
    margin-right: 0.1em;
}

.grayed {
    background: #888 !important;
}

/*.game-draw > span::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0.2em;
    right: 0.2em;
    border-bottom: 0.2em solid #DDD;
}*/


/* timer mechanism */
.timer-hdn {
    display: none;
}

.timer {
    display: block;
}

.timer-elem {
    position: absolute;
    will-change: backgroun-position;
}

.timer-top {
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, black calc(50% + 4px), transparent calc(50% + 4px)) 100% 0;
    background-size: 200% 100%;
    animation: slide-right 30s linear 0s 1 normal forwards running;
}

@keyframes slide-right {
    50% {
        background-position:50% 0
    }
    to {
        background-position:0 0;
    }
}

.timer-right {
    right: 0;
    top: 0;
    height: 100%;
    width: 4px;
    background: linear-gradient(to bottom, transparent calc(50% - 4px), black calc(50% - 4px)) 0 0;
    background-size: 100% 200%;
    animation: slide-bottom 30s linear 0s 1 normal forwards running;
}
@keyframes slide-bottom {
    50% {
        background-position:0 50%;
    }
    to {
        background-position:0 100%;
    }
}

.timer-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, transparent calc(50% - 4px), black calc(50% - 4px)) 0 0;
    background-size: 200% 100%;
    animation: slide-left 30s linear 0s 1 normal forwards running;
}
@keyframes slide-left {
    50% {
        background-position:50% 0
    }
    to {
        background-position:100% 0
    }
}

.timer-left {
    left: 0;
    top: 0;
    height: 100%;
    width: 4px;
    background: linear-gradient(to bottom, black calc(50% + 4px), transparent calc(50% + 4px)) 0 100%;
    background-size: 100% 200%;
    animation: slide-top 30s linear 0s 1 normal forwards running;
}
@keyframes slide-top {
    50% {
        background-position:0 50%;
    }
    to {
        background-position:0 0;
    }
}
